<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!--Settings for SSLSecurity start-->
  <configSections>
    <section name="secureWebPages" type="Pantheon.SSLSecurity.Configuration.SecureWebPageSettings, SSLSecurity" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <secureWebPages mode="On" warningBypassMode="AlwaysBypass" ignoreHandlers="WithStandardExtensions">
    <files>
      <!--<add path="Provider/ProviderApplication.aspx"/>-->
      <!--<add path="Legal/Copyright.aspx" secure="Ignore" />-->
    </files>
    <directories>
      <!--<add path="/" recurse="True" />-->
      <!--<add path="Admin" recurse="True" />-->
      <!--<add path="Admin/Info/" secure="Insecure" />-->
    </directories>
  </secureWebPages>
  <!--Settings for SSLSecurity end-->
  <connectionStrings>
    <!--Connection string for LACES project-->
    <add name="LACESConnectionString" connectionString="Data Source=10.73.251.18;Initial Catalog=ALSA_Laces_Prod;User ID=asla_ektron;Password=asla_ektron;" providerName="System.Data.SqlClient" />
    <add name="ASLA_Laces_ProdEntities" connectionString="metadata=res://*/App_Code.Utility.LACES.csdl|res://*/App_Code.Utility.LACES.ssdl|res://*/App_Code.Utility.LACES.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.73.251.18;initial catalog=ALSA_Laces_Prod;user id=asla_ektron;password=asla_ektron;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LACESConnectionString_prod" providerName="System.Data.SqlClient" connectionString="server=10.73.251.15;database=ASLA_Laces_Prod;Integrated Security=false;user=asla_ektron;pwd=asla_ektron;" />
    <add name="ASLA_Laces_ProdEntities_prod" connectionString="metadata=res://*/App_Code.Utility.LACES.csdl|res://*/App_Code.Utility.LACES.ssdl|res://*/App_Code.Utility.LACES.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.73.251.15;initial catalog=ASLA_Laces_Prod;user id=asla_ektron;password=asla_ektron;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <add key="AslaCmsAuthentication.AuthenticationService" value="http://www.asla.org/WebService/AuthenticationService.asmx" />
    <!-- <Bashar>-->
    <!-- SMTP server Address for Sendiing Email to Friend -->
    <add key="SMTPServer" value="localhost" />
    <add key="SMTPPort" value="25" />
    <add key="HomePageSlideshowEktronID" value="48369" />
    <add key="LACESAdminEmailFrom" value="dwilson@1over0.com" />
    <add key="LACESAdminEmailTo" value="kstengle@1over0.com" />
    <add key="LACESAdminEmailCC" value="dwilson@1over0.com" />
    <add key="LACESApprovedProviderMailTo" value="dwilson@1over0.com" />
    <add key="LACESCourseNotificationMailTo" value="dwilson@1over0.com" />
    <!--
<add key="LACESApprovedProviderMailTo" value="lacesapp@asla.org" />
<add key="LACESCourseNotificationMailTo" value="laces@asla.org" />
-->
    <!-- End SMTP server Address for Sendiing Email to Friend -->
    <!-- DES Key and IV values -->
    <add key="DESKey" value="TTIX7zF53fA=" />
    <add key="DESIV" value="TTIX7zF53fA=" />
    <!-- End DES Key and IV values -->
    <!-- </Bashar>-->
    <add key="ErrorReportMailTo" value="dotnet-errors@pantheonsoftware.com" />
    <add key="ErrorMailSubject" value="Error message from ASLA LACES Production site" />
    <add key="ErrorMailFrom" value="no-reply@asla.com" />
    <add key="AboutLACES_ASLA_CMS_Site_URL" value="https://www.asla.org/WhiteContent.aspx?id=12712" />
    <add key="LACES_App_Pro_Guide_ASLA_CMS_Site_URL" value="https://www.asla.org/WhiteContent.aspx?id=12714" />
    <add key="ProviderTools_URL" value="https://www.asla.org/WhiteContent.aspx?id=38932" />
    <!--TITU start-->
    <!-- Payflow Pro Host Name. This is the host name for the PayPal Payment Gateway.
  
    For testing:   pilot-payflowpro.paypal.com.
    For production: payflowpro.paypal.com
  
    DO NOT use payflow.verisign.com or test-payflow.verisign.com!
  -->
    <add key="PAYFLOW_HOST" value="payflowpro.paypal.com" />
    <!--Payment Gateway Info-->
    <add key="USER" value="lacesaslaint" />
    <add key="VENDOR" value="aslalaces" />
    <add key="PARTNER" value="paypal" />
    <add key="PWD" value="luvspurple1" />
    <!--Amount required to pay for provider application-->
    <add key="PROVIDER_FEE" value="295.0" />
    <!-- This is a LOG level tag.To switch on logging change the logger level from "OFF" to any of the following:
  a. DEBUG
  b. INFO
  c. WARN
  d. ERROR
  e. FATAL
  -->
    <!--
    Begin 1over0 Additions to Web.config
    -->
    <add key="SendOutgoingEmail" value="N" />
    <add key="LogosLACES_ASLA_CMS_Site_URL" value="https://www.asla.org/WhiteContent.aspx?id=22542" />
    <!--<add key="ASLARoot" value="https://www.asla.org/WhiteSelectList.aspx"/>-->
    <add key="ASLARoot" value="http://asla-responsive.dev01.1over0.com/WhiteSelectList.aspx" />
    <add key="URLToGetPDFFilename" value="http://asla-responsive.dev01.1over0.com/WhiteLibraryData.aspx" />
    <add key="SubjectContentID" value="22546" />
    <add key="StateProvinceContentID" value="22544" />
    <add key="LibraryASLARelative" value="/uploadedFiles/LACES/" />
    <add key="LibraryASLAAbsolute" value="https://www.asla.org/uploadedFiles/LACES/" />
    <add key="ImagesASLARelative" value="/uploadedImages/LACES/" />
    <add key="ImagesASLAAbsolute" value="https://www.asla.org/uploadedImages/LACES/" />
    <add key="ASLABaseURL" value="https://www.asla.org" />
    <add key="ApplicationFormPDF" value="21572" />
    <add key="HSWClassificationPDF" value="14622" />
    <add key="CalculatingPDF" value="14624" />
    <add key="DistanceEducationPDF" value="14626" />
    <add key="ModelEvaluationForm" value="14628" />
    <add key="ModelCertificateForm" value="14630" />
    <add key="CourseEquivPDF" value="21568" />
    <add key="LacesBaseURL" value="https://laces.asla.org" />
    <add key="FAQ_ASLA_CMS_Site_URL" value="https://www.asla.org/WhiteContent.aspx?id=32154" />
    <!--
    End 1over0 Additions to Web.config
    -->
    <add key="LOG_LEVEL" value="OFF" />
    <!-- Relative path for LOG file. -->
    <add key="LOG_FILE" value="logs\PayflowSDK.log" />
    <!-- Log file filesize constant. -->
    <add key="LOGFILE_SIZE" value="102300" />
    <!--TITU end-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--Settings for SSLSecurity start-->
    <httpModules>
      <add name="SSLSecurity" type="Pantheon.SSLSecurity.SecureWebPageModule, SSLSecurity" />
    </httpModules>
    <!--Settings for SSLSecurity end-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <!--  Disabling request validation for your application
          To disable request validation for your application, you must modify or create a Web.config file 
          for your application and set the validateRequest attribute of the <PAGES /> section to false: 
          Reference: http://www.asp.net/faq/RequestValidation.aspx -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
          <error statusCode="403" redirect="NoAccess.htm" />
          <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
    -->
    <customErrors mode="Off" />
    <!--set session timeout to 3 hours-->
    <sessionState timeout="180" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>